footer {
  background-color: #FFAC00;
  text-align: center;
  height: 100px;
  line-height: 40px;
  position: relative;
}

footer .footer-content{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 100%;
}
