@font-face {
    font-family: 'caviar';
    src: url('polices/CaviarDreams.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'skinny';
    src: url('polices/Skinny.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: caviar, sans-serif;
}

a {
  text-decoration: none;
  color:white;
}

.container{
  width: 970px;
  margin: 0 auto;
}



html, body{
  height: 100%;
}

header, section{
  position: relative;
}
