*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


section{
  padding: 80px 0;
}




#list{
  background-color: #F2F0F0;
}

.image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.image img{

    height: 300px;

}

.description{
    width: 100%;
}

.description p{
    font-size: 1.7em;
    margin: 10px 0 0 0;
    text-align: center;
}

#items{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;

}

.item{
    width: 70%;
    height: 70px;
    position: relative;
    margin-top: 10px;

    border-bottom: 1px solid gray;

}

.item .num{
  background-color: #616060;
  position: relative;
}

.item .num p{
  position:  absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  color: white;
}

.nom{
    background-color: white;
    padding: 0 15px;
    font-size: 1.2em;
    height: 100%;
    display: flex;
    align-items: center;
}

.validate{
    background-color: #FFAC00;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.validate a{
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.validate a:hover{
    color: greenyellow;
}

.plus{
  background-color: white;

}



.loupe{
    background-color: #1B3E59;
    height: 100%;


}

.loupe a{
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media all and (max-width:500px){

  .loupe, .validate, .nom{
    display: inline-block;
  }

  .item{
    height: auto;
    border: none;
    margin: 20px 0;
    vertical-align: bottom;
  }

  .item .num{
    display: none;
  }

  .item .nom{
    width: 100%;
    height: 90px;
    position: relative;
  }

  .item .nom p {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }



  .item .loupe{
    width: 50%;
    height: 60px;
    box-sizing: border-box;

  }

  .item .validate{
    width: 50%;
    height: 60px;
  }

  .plus{
    height: 90px;
    border: none;
  }
}
