*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}



.image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.image img{

    height: 300px;

}

.description{
    width: 100%;
}

.description p{
    font-size: 1.7em;
    margin: 10px 0 0 0;
    text-align: center;
}

#items{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;

}

.item{
    width: 70%;
    height: 70px;
    position: relative;
    margin-top: 10px;
    background-color: green;

}

.nom{
    background-color: firebrick;
    padding: 0 15px;
    font-size: 1.2em;
    height: 100%;
    display: flex;
    align-items: center;
}

.validate{
    background-color: dodgerblue;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.validate a{
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.validate a:hover{
    color: greenyellow;
}



.loupe{
    background-color: aqua;
    height: 100%;


}

.loupe a{
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#deroul{
    width: 70%;
    background-color: olivedrab;
    height: 150px;
    display: none;
    align-items: center;

}

.clic #deroul{
    display: flex;
}

#deroul form{
    width: 100%;
}

#deroul form .form_nom{

    display: flex;
    justify-content: center;
}

#deroul form .form_remarque{

    display: flex;
    align-items: center;
    justify-content: center;
}

#deroul form .form_validate{

    display: flex;
    align-items: center;
    justify-content: center;
}