* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: red;
    width: 100%;
    height: 50px;
    line-height: 44px;
}

#mwl {
    display: inline-block;
}

#logo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: black;
}

#inscription, #connexion {
    display: inline-block;
}

#connexion {
    border: 3px dashed black;
    padding-right: 10px;
    padding-left: 10px;
}

#left {
    display: inline-block;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}

#right {
    display: inline-block;
    text-align: right;
}