* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: red;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

#mwl, #menu_utilisateur {
    display: inline-block;
}

#logo, #kdo, #jfm {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    //background-color: #0a68b4;
}

a {
    text-decoration: none;
    color: black;
}

#left {
    display: inline-block;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}

#right {
    display: inline-block;
    text-align: right;
}

#wrapper li{
    text-align: left;
    line-height: 30px;
}

#wrapper {
    text-align: right;
}

li {
    list-style: none;
}

#menu_utilisateur {
    font-size: 1.2em;
    margin-right: 50px;
}

#menu_utilisateur:hover li{
    display : block;
}

#sous_menu {
    display: none;

}

#sous_menu li{
    text-align: center;
}

#nom {
    display: inline-block;
    margin-left: 10px;
    margin-right: 30px;
}

#sous_menu li a {
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: red;
}

#sous_menu a:hover {
    background-color: rgb(138, 0, 13);
}
