*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


section{
  padding: 80px 0;
}


.errors{
    width: 100%;
    background-color: red;
    height: 30px;
    color: rgba(240,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: -10px;
    margin-bottom: 20px;
}


.errors .p_error{
    color: white;

}

/*section*/
#commentaire{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.commentaire{
    width: 60%;
    min-height: 200px;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.125);
    position: relative;
    margin-top: 20px;

}

.commentaire_title{
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.07);
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.commentaire_content{
    width: 100%;
    padding: 20px;
}

.commentaire_footer{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    height: 30px;
    width: 100%;
    border-radius: 0 0 6px 6px ;
    padding: 5px 20px 5px 0 ;
}