*{
    box-sizing: border-box;
}

#contact{
    text-align: center;
    min-height: 100%;
}
.box{
    display: inline-block;
    width: 700px;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.box h2{
    margin: 0 0 40px;
    color: #1B3E59;
    text-transform: uppercase;
}

textarea{
    resize: none;
}


.box input, textarea{
    padding: 10px 0;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
    font-size: 16px;
}

.box input:valid ~ label,
.box input:focus ~ label,
.box textarea:focus ~ label{
    top:-12px;
    left: 0;
    color: #FFAC00;
    font-size: 12px;
    font-weight: bold;
}

.box input:valid,
.box input:focus,
.box textarea:focus{
    border-bottom: 2px solid #FFAC00;
}

.box input[type="submit"]{
    border-bottom: none;
    cursor: pointer;
    background: #1B3E59;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
}


.box form div {
    position: relative;
}

.box form div label{
    position: absolute;
    top:10px;
    pointer-events: none;
    left: 0;
    color: #999;
    transition: .4s;
}

.box form .identite div {
    width: 49%;
    display: inline-block;
}



@media all and (max-width:640px){
    #inscription .inscription-content{
        width: 100%;
    }
}
