
.errors{
    width: 100%;
    background-color: red;
    height: 30px;
    color: rgba(240,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: -10px;
    margin-bottom: 20px;
}


.errors .p_error{
    color: white;

}

#creationListe{
    text-align: center;
    min-height: 100%;
    background: url('../images/connexion.JPG');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.box{
    display: inline-block;
    width: 500px;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.box h2{
    margin: 0 0 40px;
    color: #1B3E59;
    text-transform: uppercase;
}



.box input,
.box textarea{
    padding: 10px 0;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
    font-size: 16px;
}

.box input:valid ~ label,
.box input:focus ~ label,
.box textarea:valid ~ label,
.box textarea:focus ~ label{
    top:-12px;
    left: 0;
    color:#FFAC00;
    font-size: 12px;
    font-weight: bold;
}

.box input:valid,
.box input:focus,
.box textarea:valid,
.box textarea:focus
{
    border-bottom: 2px solid #FFAC00;
}

.box textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
}

.box input[type="submit"]{
     border-bottom: none;
     cursor: pointer;
     background: #1B3E59;
     color: #fff;
     margin-bottom: 0;
     text-transform: uppercase;
 }


.box .input-radio input:valid ~ label,
.box .input-radio input:focus ~ label{
    top: 15px;
    left: auto;
    color: #000;
    font-size: 16px;
    font-weight: normal;
}

.box .input-radio label{
    position: relative;
    left: auto;
    color: #000;
    top:15px;
    right: 30px;
}



.box .input-radio input{
    display: inline-block;
}



.box form div {
    position: relative;
}

.box form div label{
    position: absolute;
    top:10px;
    pointer-events: none;
    left: 0;
    color: #999;
    transition: .4s;
}

.box form .identite div {
    width: 49%;
    display: inline-block;
}

.message {
    text-align: left;
}

