#createur{
    background-color: #1b3e59;
    min-height: 100%;
}

#createur h1{
      text-align: center;
      font-size: 40px;
      padding: 30px 0;
    position: relative;
    text-transform: uppercase;
    color: #fff;
  }

#createur h3{
      text-align: center;
    color: #fff;
  }

#createur h1:after{
    position: absolute;
    content:'';
    display: block;
    width: 70%;
    height: 2px;
    background-color: red;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}



#createur ul{
    list-style: none;
    text-align: center;
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
}

#createur ul li{
     display: inline-block;
     width: 100%;
     overflow: hidden;
     border: 1px solid #fff;
     padding: 20px;
     text-transform: uppercase;
     font-weight: bold;
     margin: 10px 0;
     color: #fff;
    transition: .4s;
 }

#createur ul li:hover{
    background-color: #fff;
    color:#000;
}

