*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#dashboard{
    background-color: #F2F0F0;
    padding: 80px 0;
    min-height: 100%;
    background: url('../images/connexion.JPG');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

#dashboard h2{
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    height: calc(970px / 3);
    position: relative;
    background: #fff;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);



}

ul li .text{
    position: absolute;
    top:50%;
    width: 100%;
    transform: translateY(-50%);
}

.number-list{
    text-align: center;
    display: block;
    font-size: 35px;
    font-weight: bold;

}

.title-list{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 23px;
}

ul li .hover{
    display: none;
    height: 100%;
    animation: all .4s;
}

ul li .hover > div {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
    position: relative;
    animation: all .4s;
}

ul li .hover > div a {
    position: absolute;
    top:50%;
    left: 50%;
    color: #484848;
    transform: translate(-50%, -50%);
}

ul li:hover .hover {
    display: block;
}

.about , .delete{
    background: none;
    transition: all .3s;
}
.about:hover{
    background-color: #1B3E59;

}

.about:hover a{
    color:#fff;
}

.delete:hover {
    background-color: #FFAC00;
}

ul li:hover .number-list,
ul li:hover .title-list{
    display: none;
}


ul #plus a{
    display: block;
    width:100%;
    height: 100%;
    color:black;
    text-align: center;
}

ul #plus a i{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
