#creationItem{
    text-align: center;
}
.box{
    display: inline-block;
    width: 800px;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}





.box h2{
    margin: 0 0 40px;
    color: #1B3E59;
    text-transform: uppercase;
}



#upload {
    //border: 1px solid rgba(0, 0, 0, 0.41);
    margin: 20px 0;

    //background-color: rgba(52, 52, 52, 0.49);
}


#upload .image_item .img-container{
    position: relative;
    height: 150px;
    margin: 0;
    padding: 0;
    transition: .4s;
}

#upload .image_item .img-container:hover{
    background-color: #000;
    border-radius: 50%;
}

#upload .image_item .img-container img{
    display: inline-block;
    height: 100%;
    object-fit:scale-down;
    transition: .4s;
}


#upload .image_item .img-container:hover img{
    opacity: .4;
    border-radius: 50%;
}


#upload .image_item .img-container a{
    display: none;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .4s;
}

#upload .image_item .img-container:hover a{
    display: block;
}

#upload form{
    text-align: center;
    border-top: 1px solid black;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    width: 80%;
}


#upload form input[type="submit"]{
    display: inline-block;
    border: none;
    cursor: pointer;
    background: #1B3E59;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;

}




#edit-item form input[type="text"], #edit-item form input[type="submit"],
#edit-item form textarea{
    padding: 10px 0;
    margin-bottom: 30px;
    width:100%;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
    font-size: 16px;
}

.box form div {
    position: relative;
}

.box form div label{
    position: absolute;
    top:10px;
    pointer-events: none;
    left: 0;
    color: #999;
    transition: .4s;
}

.box form .identite div {
    width: 49%;
    display: inline-block;
}

.box p{
    margin-bottom: 10px;
}



#edit-item form input[type="text"]:valid ~ label,
#edit-item form input:focus ~ label,
#edit-item form textarea:valid ~ label,
#edit-item form textarea:focus ~ label{
    top:-12px;
    left: 0;
    color:#FFAC00;
    font-size: 12px;
    font-weight: bold;
}


#edit-item form input[type="text"]:valid,
#edit-item form input:focus,
#edit-item form textarea:valid,
#edit-item form textarea:focus
{
    border-bottom: 2px solid #FFAC00;
}

#box-price, #box-link {
    width: 49%;
    display: inline-block;
}

#sub{
    margin-top: 20px;
}

#box-link #link:valid ~ label{
    color: #999;
}

#edit-item form #link:valid,
#edit-item form #link:focus{
    border-color: #999;
}

textarea{
    resize: vertical;
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
}

.description{
    max-width: 100%;
}

#edit-item form input[type="submit"]{
    border-bottom: none;
    cursor: pointer;
    background: #1B3E59;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
}



.errors{
    width: 100%;
    background-color: red;
    height: 30px;
    color: rgba(240,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: -10px;
    margin-bottom: 20px;
}


.errors .p_error{
    color: white;

}




