@font-face {
    font-family: 'caviar';
    src: url('../polices/CaviarDreams.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'skinny';
    src: url('../polices/Skinny.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: caviar, sans-serif;
}

a {
  text-decoration: none;
  color:white;
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 970px; }



html, body{
  min-height: 100%;
    height: auto;
    position: relative;
}


header, section{
  position: relative;
}

