#erreur{
	height : 80%;
	padding : 10%;
}


#liste{
	color : black;
	min-height: 100%;
}


#itemImg{
	margin: 0 auto;
	width: 60%;
	height: 300px;
	text-align: center;
	position: relative;
	background-color: rgba(0,0,0,.8);
}

#itemImg img{
	height: 100%;
	object-fit:scale-down;
}

.itemDesc a{
	color: blue;
	text-decoration: underline;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}


.rslides_nav.rslides1_nav.prev,
.rslides_nav.rslides1_nav.next{
	position: absolute;
	top:50%;
	left: 0;
	transform: translateY(-50%);
	height: 61px;
	line-height: 54px;
	width: 38px;
	background: #1b3e59;
	text-decoration: none;
	z-index: 9999;
	color:#fff;
}

.rslides_nav:active{
	opacity: 0;
}

.rslides_nav.rslides1_nav.next{
	left: auto;
	right: 0;
}

.rslides_tabs {
	background-color: rgba(255,0,0,.4);
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 9999;
}

.rslides_tabs li{
	list-style: none;
	display: inline-block;
	padding: 2px;
	margin: 0 1px;
	transition: .8s;
}

.rslides_tabs .rslides_here{
	background-color: blue;
}



