*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


section{
  padding: 80px 0;
    min-height: 100%;
}




#list_publique{
  background-color: #F2F0F0;
}

.image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.image img{

    height: 300px;

}

.description{
    width: 100%;
}

.description p{
    font-size: 1.7em;
    margin: 10px 0 0 0;
    text-align: center;
}

#lists{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;

}

.list{
    width: 70%;
    margin-top: 10px;
    border-bottom: 1px solid gray;
}

.list .num{
    background-color: #616060;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list .num p{
  font-size: 30px;
  color: white;
}

.nom{
    background-color: white;
    padding: 0 15px;
    font-size: 1.2em;
    height: 100%;
    display: flex;
    align-items: center;
}

.list .expiration {
    border-left: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.validate{
    background-color: #FFAC00;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.validate a{
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.validate a:hover{
    color: greenyellow;
}

.plus{
  background-color: white;

}



.loupe{
    background-color: #1B3E59;
    height: 100%;


}

.loupe a{
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.grille{
    height: 70px;
}

/**********************Reservation**********************/

.reserve{
    height: 200px;
    width: 100%;
    background-color: red;
    padding: 20px;
}

.reserve form {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.reserve form .formControl{
    width: 100%;
}

.reserve form .formControl input[type='text'] {
    padding: 5px 5px;
}

.reserve form .formControl textarea {
    resize: none;
}



@media all and (max-width:500px){

  .loupe, .validate, .nom{
    display: inline-block;
  }

  .list{
    height: auto;
    border: none;
    margin: 20px 0;
    vertical-align: bottom;
  }

  .list .num{
    display: none;
  }

  .list .nom{
    width: 100%;
    height: 90px;
    position: relative;
  }

  .list .nom p {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }



  .list .loupe{
    width: 50%;
    height: 60px;
    box-sizing: border-box;

  }

  .list .validate{
    width: 50%;
    height: 60px;
  }

  .plus{
    height: 90px;
    border: none;
  }
}
