*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


section{
  padding: 80px 0;
}


.errors{
    width: 100%;
    background-color: red;
    height: 30px;
    color: rgba(240,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: -10px;
    margin-bottom: 20px;
}


.errors .p_error{
    color: white;

}

.description{
    text-align: center;
    position: relative;
    text-align: center;
}

.description .image{
    display: inline-block;
    width: 180px;
}

.description .description__user{
    font-size: 20px;
    margin:20px 0;
}

.description .description__title{
      font-weight: bold;
    position: relative;
      text-transform: uppercase;
      font-size: 40px;
      display: inline-block;
  }




.description .description__title a i {
    color:red;
    transform: rotate(0deg) scale(1);
    transition: 1.1s cubic-bezier(0.43, 1.91, 0.35, 0.74);
}

.description .description__title a:hover i{
    color: #880000;
    transform: rotate(360deg) scale(1.2);
}

.description .description__detail{
    font-size: 16px;
    padding: 20px 0;
}



#list{
  background-color: #F2F0F0;

}



.addItem{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.addItem a{
    width: 20%;
    height: 40px;
    border: none;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}

.errors{
    width: 100%;
    background-color: red;
    height: 30px;
    color: rgba(240,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: -10px;
    margin-bottom: 20px;
}


.errors .p_error{
    color: white;

}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #d8e0e5; }



.articles {
    text-align: center;
}

.card {
    display: inline-block;
    margin: 0 30px 30px 30px;
    position: relative;
    width: 370px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
    overflow: hidden;
text-align: center}
.card a {
    color: inherit;
    text-decoration: none; }
.card:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3); }
.card .card__date {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding-top: 9px;
    color: #fff;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    background-color: #ee5a31;
    border-radius: 50%; }
.card .card__date__day {
    display: block;
    font-size: 14px; }
.card .card__date__mouth {
    display: block;
    font-size: 10px;
    text-transform: uppercase; }
.card .card__thumb {
    width:auto;
    height: 235px;
    background-color: #000;
    overflow: hidden;
    transition: height 0.3s;
    position: relative;}
.card .card__thumb img {
    object-fit:cover;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
    transform: scale(1); }
.card:hover .card__thumb {
    height: 90px; }
.card:hover .card__thumb img {
    opacity: 0.6;
    transform: scale(1.2); }
.card .card__body {
    position: relative;
    padding: 20px;
    height: 185px;
    transition: height 0.3s; }
.card .card__body__category {
    position: absolute;
    height: 25px;
    padding: 0 15px;
    color: white;
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: #ee5a31;
    left: 0;
    top: -25px; }
.card .card__body__title {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 22px;
    color: #000;
    font-weight: bold; }
.card .card__body__subtitle {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 19px;
    color: #ee5a31; }
.card .card__body__description {
    color: #666c74;
    font-size: 14px;
    line-height: 27px;
    opacity: 0;
    height: 130px;
    overflow: hidden;
    transition: opacity 0.3s;
   }

.card__body__description__btn{
     width: 100%;
     height: 50px;
     position: absolute;
     bottom: 30px;
     left: 0;
     transition: .3s;
 }

.card__body__description__btn .delete-btn i{
    color:red;
}

.card__body__description__btn .delete-btn:hover i{
    color: #8c0000;
}

.card__body__description .btn-plus{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 120px;
    transition:.3s;
}

.card__body__description a:hover .btn-plus{
    color:#1B3E59;
}


.card__body__description__btn a{
    position: relative;
}



.card__body__description__btn a i{
    position: absolute;
    top:50%;
    left: 50%;
    color:#616060;
    transform: translate(-50%,-50%);
    transition: color .3s;
}

.card__body__description__btn a:hover i {
    color:#1B3E59;
}

.card:hover .card__body {
    height: 330px; }
.card:hover .card__body__description {
    opacity: 1; }

.card:hover .card__body__description__btn{
    bottom: 50px;
}
.card .card__footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 11px;
    color: #A3A9AB; }
.card .card__footer .icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    position: relative;
    width: 14px;
    height: 14px;
    margin-top: -2px; }
.card .card__footer .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
.card .card__footer .icon--comment {
    margin-left: 12px; }

@media all and (max-width: 1300px) {
    .articles {
        position: static;
        transform: none;
        top: auto;
        left: auto;
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center; }

    .card {
        display: inline-block;
        margin: 20px 30px; } }

/*# sourceMappingURL=style.css.map */


@media all and (max-width:500px){

  .loupe, .not_validate .not, .nom{
    display: inline-block;
  }

  .item{
    height: auto;
    border: none;
    margin: 20px 0;
    vertical-align: bottom;
  }

  .item .num{
    display: none;
  }

  .item .nom{
    width: 100%;
    height: 90px;
    position: relative;
  }

  .item .nom p {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }



  .item .loupe{
    width: 50%;
    height: 60px;
    box-sizing: border-box;

  }

  .item .not_validate{
    width: 50%;
    height: 60px;
  }

  .plus{
    height: 90px;
    border: none;
  }
}
