*{
    box-sizing: border-box;
}

#profil{
    background-color: #F2F0F0;
    width:100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    min-height: 100%;
    background: url('../images/connexion.JPG');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.content{
    width: 65%;
    margin: 0 auto;
    position: relative;
}

.description{
    width: 100%;
}

.description p{
    font-size: 1.7em;
    margin: 10px 0 0 0;
    text-align: center;
}
.image{

    width: 100%;
    position: relative;
}

.image img{

    height: 300px;
    position: absolute;
    top:46%;
    transform: translateY(-50%);
    left: 0;

}

#items{
    margin-top: 30px;
    padding: 20px;

}


.item{
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 10px;
    border-bottom: 1px solid gray;


}

label{
    background-color: #616060;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 1.5em;
}

input{
    border: none;
    padding: 11px 15px;
    font-size: 1.4em;
}

.btn_save{
    border: none;
    background-color: #FFAC00;
    cursor: pointer;
}

.btn_save:hover i{
   color:greenyellow;
}

.btn_delete{
    margin-top: 30px;
    border: none;
    background-color: red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 1.4em;
    float: right;
}

.btn_delete:hover i{
    color:darkred;
}

